
body {
    margin-top: 30px;
    background: #424242;
    background: linear-gradient( #424242, #212121);
    
}
.padding {
  padding-top: 100px;
}
.card-title {
  color: black;
  font-size: 15px;
  text-align: center;
}
.card-information {
  color: black;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}
.card-description {
  color: black;
  text-align: center;  
  font-size: 15px;
}
.card-sub {
  color: black;
  text-align: center;
  font-size: 15px;
}
.bottom-right {
  color: black;
  position: absolute;
  bottom: -.5%;
  right: -.5%;
  transform: translate(-0.5%, 0.5%);
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card {
    width: 30rem;
      height: 20rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
      border-radius: 5px;
      background-color: rgba(255, 235, 59, 0.432);
      
      backdrop-filter: blur(5px);
  }

/* Action Panel */
.actionPanel {
    padding: 12px 0;
    background-image: linear-gradient( #424242, white);
  }
  
  
    .actionPanel h3 {
        margin: 0px;
        color: white;
        font-family: monospace;
        font-size: 20px;
    }
    .actionPanel {
      padding: 25px 0;
      background-image: linear-gradient( #424242, white);
  }
  .actionPanel p {
    margin: 0px;
    color: white;
    font-family: monospace;
    font-size: 16px;
  }
  
      .actionPanel h3 {
          margin: 0px;
      }

  a,
  a:hover {
    color: #212529;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .block {
    height: 350px;
    background: rgba(86,61,124,.15);
    margin-bottom: 30px;
  }
  
  .label {
    font-size: .85rem;
    font-weight: bold;
  }
  
.title {
    color: rgba(255, 235, 59, 0.432);
    text-align: center;
    font-family: monospace;
 
}

.description {
    color: rgba(255, 235, 59, 0.432);
    text-align: center;
    font-family: monospace;
 
}
.m-0 {
    color: rgba(255, 235, 59, 0.432);
    text-align: center;
    font-family: monospace;
 
}
.m-0 {
    color: rgba(255, 235, 59, 0.432);
    text-align: center;
    font-family: monospace;
 
}
.nav-link {
    color: #FFEB3B;
}
.footerp {
    color: rgba(255, 235, 59, 0.432);
}
.line-b {
    border-bottom: 1px solid #FFEB3B !important;
}
.btn {
    background-color: rgba(255, 235, 59, 0.432);
   
    color: black;
}
.hr {
    background-color: rgba(255, 235, 59, 0.432);
}
.scroll {
    color: #0000FF;
    margin-top: 100px
    }
    
    #toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: (#0000FF);
    }
    
    .js .cd-top--fade-out {
    opacity: .5
    }
    
    .js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
    }
    
    .js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
    }
    
    .cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px (#0000FF) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: (#0000FF);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
    }
